body {
  @extend %roboto-400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.title{
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  @extend %bernied-400;
margin-bottom: 25px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  &__list {
    display: flex;
  }
  &__item {
    & + .menu__item {
      margin-left: 25px;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

.address {
  &__phone,
  &__link {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  &__phone{
    margin-bottom: 5px;
  }
}
