@media (max-width: 1120px) {
  .service {
    &__inner {
      display: block;
    }
    &__item-link {
      display: flex;
      align-items: center;
    }
    &__box-img {
      margin-bottom: 25px;
      margin-right: 30px;
    }
  }
}

@media (max-width: 1075px) {
  .address {
    display: none;
  }
}

@media (max-width: 960px) {
  .about {
    padding-bottom: 25px;
    &__img-box {
      display: none;
    }
    &__content {
      margin-left: 0;
    }
  }
  .gallery {
    &__item-img {
      width: 32%;
    }
  }
  .content-page {
    &__inner {
      flex-direction: column;
    }
    &__wrapper {
      order: 1;
      margin-bottom: 25px;
    }
    &__box-img {
      display: none;
      margin-top: 0;
    }
    &__link {
      display: inline-block;
    }
    &__item {
      padding: 45px 0 20px;
    }
  }
}

@media (max-width: 860px) {
  .price {
    &__inner {
      flex-direction: column;
    }
    &__content {
      margin-left: 0;
      margin-bottom: 25px;
    }
    &__booking {
      order: 1;
      margin-top: 0;
    }
  }
  .contact {
    &__inner {
      flex-direction: column;
    }
    &__content {
      max-width: 100%;
      margin-bottom: 25px;
    }
    &__map {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@media (max-width: 825px) {
  .logo {
    width: 100px;
  }
  .menu {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transform: translateY(10%);
    transition: all 0.3s;
    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%);
    }
    &__btn {
      display: flex;
    }
    &__list {
      display: block;
    }
    &__item + .menu__item {
      margin-left: 0;
    }
    &__link {
      display: block;
      padding: 15px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.9);
      transition: all 0.3s;
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .team {
    &__item-box {
      img {
        height: 350px;
      }
    }
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .logo {
      width: 100%;
      img {
        width: 150px;
      }
    }
  }
  .header-services {
    margin: 100px 0 50px;
    &__inner {
      display: block;
    }
    &__free {
      margin: 40px auto 0;
    }
  }
  .header-page {
    min-height: 150px;
  }
}

@media (max-width: 770px) {
  .service {
    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__item-link {
      display: block;
      margin: 0 auto 25px;
    }
    &__box-img {
      margin-bottom: 15px;
      margin-right: 0px;
    }
  }
}

@media (max-width: 640px) {
  .header {
    &__content-inner {
      flex-wrap: wrap;
    }
    &__content-item {
      margin-bottom: 15px;
      width: 48%;
    }
    &__content-item + .header__content-item {
      margin-left: 0;
    }
  }
  .gallery {
    &__item-img {
      width: 48%;
      img {
        height: 270px;
      }
    }
  }
  .footer {
    padding: 50px 0 25px;
    &__item-box {
      width: 100%;
    }
    &__subtitle {
      margin-bottom: 15px;
      font-size: 24px;
    }
    &__link {
      font-size: 16px;
      line-height: 16px;
    }
    &__bottom-text {
      font-size: 14px;
    }
  }
  .service {
    padding: 50px 0 25px;
    text-align: center;
    img {
      height: 320px;
      margin: 0 auto;
    }
  }
  .content-page {
    h3 {
      font-size: 32px;
      line-height: 46px;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;
    }
    li,
    p {
      font-size: 16px;
      line-height: 28px;
    }
    &__link {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__content-top,
    &__content-item {
      border: 3px solid rgba(255, 255, 255, 0.5);
    }
    &__content-top {
      padding: 25px 15px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__title {
      font-size: 44px;
    }
  }
  .title {
    font-size: 38px;
    line-height: 54px;
  }
  .about {
    &__text {
      font-size: 18px;
    }
  }
  .price {
    &__content-inner {
      padding: 35px 10px;
      font-size: 14px;
    }
  }
  .team {
    &__inner {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    &__item {
      width: 100%;
    }
    &__text {
      font-size: 16px;
    }
  }
  .gallery {
    padding: 50px 0 25px;
  }
  .history {
    font-size: 16px;
    &__text-box {
      padding: 25px 15px;
    }
  }
  .contact {
    padding: 50px 0;
    &__map {
      height: 350px;
    }
  }
  .header-services {
    &__subtitle {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }
    &__list-item,
    &__text {
      font-size: 16px;
      line-height: 26px;
    }
    & .header-services__list {
      margin-bottom: 10px;
    }
    &__free {
      padding: 25px 30px;
    }
  }
  .service {
    &__subtitle {
      font-size: 32px;
      line-height: 54px;
    }
    &__list-item {
      font-size: 16px;
    }
    & .service__list {
      padding-left: 20px;
    }
  }
}
